---
layout: page
title: Software Development Blog
header: Development Blog Category
group: navigation
---

{% for post in site.posts %}
    {% if post.categories contains site.blog_programming %}
        <article class="post">

            <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <span class="post-date">{{ post.date | date_to_string }}</span>

            <div class="entry">
                {{ post.excerpt }}
            </div>

            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        </article>
    {% endif %}
{% endfor %}
