@import "mixins";

.read-more {
    @include header-text;
    font-size: 14px;
    line-height: 1.5;
}

.entry {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 22px;
    }

    h3, h4, h5, h6 {
        font-size: 18px;
    }
}
