@import "mixins";

.post-title {
    margin-bottom: 8px;
}

.post-info {
    color: $color-metadata;
    display: inline-block;
    margin-bottom: 16px;
}

.post-date {
    color: $color-metadata;
    display: inline-block;
    margin: 0;
    margin-bottom: 16px;
}
